<!-- FOOTER -->
<div class="footer themecolor">
    <p style="text-align: center;margin:0px;display:inline-flex;"> Copyright ©</p>
    <p id="appendCurrentYear" style="text-align: center;margin:0px;display:inline-flex;"></p>
    <p style="text-align: center;margin:0px;display:inline-flex;">Don Management</p>
    <!-- <div class="col-12 padd0" style="margin: auto;"> -->
    <!-- <a href="https://www.facebook.com/projectdonmanagement/" target="_blank" class="facebook-follow fa fa-facebook" style="width:50px !important;text-align: right;">
    </a>
    <a href="https://www.instagram.com/projectdonmanagement/" target="_blank" class="instagram-follow fa fa-instagram" style="width:50px !important;text-align: right;">
    </a> -->
    <!-- </div> -->

</div>
<!-- END FOOTER -->
<!-- JAVASCRIPT FILES -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script>
    // if ('serviceWorker' in navigator) {
    //     window.addEventListener('load', function() {
    //         navigator.serviceWorker.register('/sw.js').then(function(registration) {
    //             // Registration was successful
    //             console.log('ServiceWorker registration successful with scope: ', registration.scope);
    //         }, function(err) {
    //             // registration failed :(
    //             console.log('ServiceWorker registration failed: ', err);
    //         });
    //     });
    // }

    var Year = new Date();
    Year = Year.getFullYear();
    $("#appendCurrentYear").html(Year);
    if (window.navigator && navigator.serviceWorker) {
        navigator.serviceWorker.getRegistration()
            .then(function(registrations) {
                for (let registration of registrations) {
                    registration.unregister();
                }
            });
    }

    if (window.navigator && navigator.serviceWorker) {
        navigator.serviceWorker.getRegistrations()
            .then(function(registrations) {
                for (let registration of registrations) {
                    registration.unregister();
                }
            });
    }
</script>
</body>

</html>