
body {
    background: #c24e3f;
}

h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: 200;
    opacity: .5;
    font-family: sans-serif;
    color: #fff;
}

#container {
    width: 70px;
    height: 35px;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 35px);
}

#loader {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-top-color: #FFF;
    border-right-color: #FFF;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 3s ease-in-out infinite;
    transform: rotate(-200deg)
}

@keyframes rotate {
    0% {
        border-width: 10px;
    }
    25% {
        border-width: 3px;
    }
    50% {
        transform: rotate(115deg);
        border-width: 10px;
    }
    75% {
        border-width: 3px;
    }
    100% {
        border-width: 10px;
    }
}

.navbar1 {
    position: fixed;
    top: 10px;
    z-index: 50;
    opacity: 0.9;
    width: 100%;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.footer {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #C24E3F;
    text-align: center;
    color: white;
    border-left: 5px solid #F7998d;
    border-right: 5px solid #F7998d;
    border-bottom: 5px solid #F7998D;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

header {
    /*background-color: #6991AC;*/
    /*width: 100%;*/
    /*height: 86px;*/

    position: fixed;
    left: 0;
    transition: background .3s ease, height .4s ease;
    width: 100%;
    z-index: 29;
}

#header-inner {
    max-width: 1200px;
    margin: 0 auto;

}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;

}

ul {
    float: right;
    list-style: none;
}

nav ul li {
    font-family: 'Alegreya', sans-serif;
    font-size: 120%;
    display: inline-block;
    padding: 0 10px 10px 10px;
    text-emphasis-color: #AADCD2;
}

nav ul li a {
    color: #000000;
    text-decoration: none;

}

nav ul li a:hover {
    color: #000000;
    text-decoration: none;
}

.current {
    color: #C3D7DF;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------      CONTENT CSS                         ---------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.overwrite-row {
    margin-right: 0px;
    margin-left: 0px;
}

::-webkit-scrollbar {
    display: none;
}

.intial-view {
    height: 100vh;
}

.navbar_cover {
    background: lightgrey;
    opacity: 0.8;
    border-radius: 0px;
    margin: auto;
    padding: 0px;
    padding-top: 10px;
}

.navbar_cover:hover {
    background: white;
    opacity: 0.8;
    border-radius: 0px;
    margin: auto;
    padding: 0px;
    padding-top: 10px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile_picture {
    border-radius: 300px;
    width: 400px;
}

.skillset-logo {
    width: 50px;
    height: 50px;
    border: none;
    margin: 10px 20px;
    background: transparent;
}

.shadow {
    -webkit-box-shadow: -5px 0px 65px 28px rgba(66, 61, 57, 0.4);
    -moz-box-shadow: -5px 0px 65px 28px rgba(66, 61, 57, 0.4);
    box-shadow: -5px 0px 65px 28px rgba(66, 61, 57, 0.4);
}

/*GOOGLE MATERIAL DESIGN RAISED BUTTON CSS*/
.md-btn {
    font-family: "Roboto medium", sans-serif;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    padding: 6px 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 2px;
    background: md-btn-color;
    color: #fff;
    outline: 0;
}

:focus {
    background: darken(md-btn-color, 12%)
}

.md-btn-raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

}

/*
 Ripple
*/
.md-btn-ripple {
    overflow: hidden;
    position: relative;
}

.md-btn-ripple:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    transform: scale(0);
}

@keyframes md-btn-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.md-btn-ripple:not(:active):after {
    animation: md-btn-ripple 0.6s ease-out;
}

.md-btn-ripple:after {
    visibility: hidden;
}

.md-btn-ripple:focus:after {
    visibility: visible;
}

/*END*/
.contactme-form {
    background: #C24E3F;
    display: flex;
}

.contactme-form-input {
    font-size: 16px;
    background: #e47a7ab5;
    border: none;
}

.OpenSansRegular {
    font-family: OpenSansRegular;
}

.OpenSansItalic {
    font-family: OpenSansItalic;
}

.OpenSansSemiBold {
    font-family: OpenSansSemiBold;
}

.OpenSansBold {
    font-family: OpenSansBold;
}

.insta-gradient {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-link {
    border-radius: 5px;
    display: inline-flex;
    width: 200px !important;
    margin-bottom: 5px;
}

.social-link-icon {
    padding-top: 2px;
    padding-left: 5px;
    margin-left: 0px;
    color: white;
    font-size: 35px;
    float: left;
}

.social-icon-text {
    margin: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: OpenSansSemiBold;
}

/*PLACEHOLDER CHANGE STYLE*/
input::-webkit-input-placeholder {
    color: whitesmoke !important;
}

input:-moz-placeholder {
    color: #666;
}

input::-moz-placeholder {
    color: #666;
}

input:-ms-input-placeholder {
    color: #666;
}

/* focus */
input:focus::-webkit-input-placeholder {
    color: #23272b !important;
}

input:focus:-moz-placeholder {
    color: #eee
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    color: #eee
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: #eee
}

/* IE 10+ */

/*COLOR HARMONY #1*/
/*#E1905A #945F3B #E0D35A #948B3B #1F1F1F #E0E0E0*/
/*COLOR HARMONY #2*/
/*#EB725A #9E4C3C #EBBA59 #9E7D3C #141414 #EBEBEB*/

@media (min-width: 992px) {
    .d-lg-block {
        display: inline-flex !important;
    }
}

.side-info-bar {
    margin-top: -40px;
    background: #2A6978;
    height: 1100px;
    max-width: 570px;
}

.orange-bar {
    margin-left: 0px;
    margin-top: 150px;
    background: #c24e3f;
    padding: 0px;
    margin-top: -40px;
    width: 75px;
    height: 1100px;
}

.blue-bar {
    margin-left: 0px;
    margin-top: 150px;
    background: #c24e3f;
    padding: 0px;
    margin-top: -40px;
    width: 85px;
    height: 1100px;
}

.pink-bar {
    margin-left: 0px;
    margin-top: 150px;
    background: #EB725A;
    padding: 0px;
    margin-top: -40px;
    width: 75px;
    height: 1100px;
}

.desktop-content-bar {
    margin-left: 0px;
    margin-top: 150px;
    background: #c24e3f;
    /*background-image: url('img/content-background.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 2300px;*/
    padding: 0px;
    margin-top: -40px;
    /*min-width: 1000px;*/
    height: 1100px;
}

.mobile-content-bar{
    background: #eb725a;
}
/*.gallery-div-border{*/
    /*border-left: 5px solid #F7998d;*/
    /*border-right: 5px solid #F7998d;*/
/*}*/
.gallery-border {
    border: 5px solid #F7998d;
}

.img_alt_text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar_2 {
    overflow: hidden;
    background-color: #C24E3F;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2;
    border-left: 5px solid #F7998d;
    border-right: 5px solid #F7998d;
    border-top: 5px solid #F7998D;
}

/* Links inside the navbar */
.navbar_2 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar_2 a:hover {
    background: #ddd;
    color: black;
}

.content-title{
    padding:auto;
    font-size: 30px;
    margin:50px 20px;
    color: #cccc;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    font-family: cursive;
}
.content-title:hover{
    color: whitesmoke;
    cursor:pointer;
}
.hand{
    cursor: pointer;
}

