body {
    /* background: #022e3a; */
    background: #000000;
}

h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 3em;
    height: 3em;
}

.themecolor {
    color: #fdb918 !important;
}


/* --------------------------------- MAIN LANDING PAGE LOADER --------------------------*/

#myDiv {
    display: none;
    text-align: center;
}

.ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 13em;
}

.ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
}

.ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
}

.ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
}

.ml8 .circle-dark {
    width: 3em;
    height: 3em;
    background-color: transparent !important;
    border-radius: 3em;
    z-index: 1;
}

.ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 4px solid #fdb918;
    width: 3em;
    height: 3em;
}


/* ------------------------------------------------ */


/* //----------------------------------------------------CONTENT LOADER ----------------- */

.loaderFormat {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #333333;
}


/* START: Loader css */

#contentLoader {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
}

#contentLoader::after {
    content: "";
    display: block;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes loading {
    0%,
    100% {
        background-color: #FEDD00;
        /* 1st dot */
        box-shadow: 9px 0 0 #FE5000, /* 2nd dot */
        18px 0 0 #FE5000;
        /* 3rd dot */
    }
    33.3% {
        background-color: #FE5000;
        box-shadow: 9px 0 0 #FEDD00, 18px 0 0 #FE5000;
    }
    66.6% {
        background-color: #FE5000;
        box-shadow: 9px 0 0 #FE5000, 18px 0 0 #FEDD00;
    }
}


/* //------------------------------------------------------------------------------------ */

.don-background {
    background: url('../../assets/img/common/logo.jpg') no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.content-text-ul {
    list-style-type: disc;
    width: 100%;
    text-align: left;
    border-top: 1px solid #fdb918;
    font-family: 'Open Sans';
    font-size: 17px;
    color: whitesmoke;
    background: #0e0e0ed9;
}

.content-text-ul>li {
    margin-left: 20px;
}

.title-font {
    font-family: 'Courgette', 'cursive';
    font-weight: 400;
    font-size: 60px;
    margin: 49px auto 0px auto;
    padding: 40px 0px 0px 0px;
    /* color: #fbfbfb; */
    color: #FDB918;
    text-align: center;
}

.title-box {
    border-bottom: 3px solid #fdb918;
    min-height: 200px;
}

.content-title-small {
    font-family: 'Open Sans';
    font-size: 20px;
    margin: auto;
    color: #fdb918;
    text-align: center;
}

.content-title {
    font-weight: 700;
    font-family: cursive;
    font-style: italic;
    font-size: 33px;
    margin: auto;
    color: #fbfbfb;
    text-align: left;
}

.content-text {
    border-top: 1px solid #fdb918;
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 0px auto 20px auto;
    color: whitesmoke;
    text-align: center;
    background: #0e0e0ed9;
    padding: 30px;
    word-wrap: normal;
    word-break: break-word;
}

.content-text-application {
    border-top: 1px solid #fdb918;
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 0px auto 20px auto;
    color: whitesmoke;
    text-align: center;
    background: #0e0e0ed9;
    padding: 30px;
    word-wrap: normal;
    word-break: break-word;
}

#container {
    width: 70px;
    height: 35px;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 35px);
}

.navbar-nav {
    /* margin-right: 7px !important;
    padding: 0 20px; */
}

.navbar-light .navbar-toggler {
    color: #ececec !important;
    border-color: black;
    background: #ccc !important;
}

.navbar-toggler {
    background: transparent !important;
    margin: 20px;
}

.nav-item {
    width: 200px;
    text-align: center;
}

.navbar {
    background: #5a5a5a;
    position: fixed;
    height: 50px;
    z-index: 50;
    opacity: 1.0;
    width: 100%;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px;
    top: -1px;
}

#content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    position: inherit;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    background-color: #5a5a5a;
    text-align: center;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

header {
    position: fixed;
    left: 0;
    top: -1;
    transition: background 0.3s ease, height 0.4s ease;
    width: 100%;
    z-index: 29;
}

#header-inner {
    max-width: 1200px;
    margin: 0 auto;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    float: right;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover {
    color: #000000;
    text-decoration: none;
}

.current {
    color: black;
}


/*--------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------      CONTENT CSS                         ---------------------------------------*/


/*--------------------------------------------------------------------------------------------------------------------*/

.overwrite-row {
    margin-right: 0px;
    margin-left: 0px;
}

::-webkit-scrollbar {
    display: none;
}

.intial-view {
    height: 100vh;
}

.navbar_cover {
    background: lightgrey;
    opacity: 0.8;
    border-radius: 0px;
    margin: auto;
    padding: 0px;
    padding-top: 10px;
}

.navbar_cover:hover {
    background: white;
    opacity: 0.8;
    border-radius: 0px;
    margin: auto;
    padding: 0px;
    padding-top: 10px;
}

.nav-font {
    min-width: 150px;
    font-size: 20px;
    font-family: 'Open Sans';
    color: #ccc;
}

.text-block {
    z-index: 99;
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 20px;
    left: 20px;
    background-color: #00000061;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.text-block4 {
    z-index: 99;
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 0px;
    /* left: 20px; */
    background-color: #00000061;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.text-block2 {
    overflow: hidden;
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 50px;
    left: 20px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.text-block3 {
    overflow: hidden;
    z-index: 99;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 10px;
    left: 5px;
    background-color: transparent;
}


/* Container holding the image and the text */

.container {
    position: relative;
    text-align: center;
    color: white;
}

.contactme-form {
    display: flex;
}

.contactme-form-input {
    font-size: 16px;
    background: dimgrey;
    border: 2px solid #fdb918;
}

.insta-gradient {
    background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.social-link {
    border-radius: 5px;
    display: inline-flex;
    width: 200px !important;
    margin-bottom: 5px;
}

.social-link-icon {
    padding-top: 2px;
    padding-left: 5px;
    margin-left: 0px;
    color: white;
    font-size: 35px;
    float: left;
}

.social-icon-text {
    margin: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans';
}


/*PLACEHOLDER CHANGE STYLE*/

input::-webkit-input-placeholder {
    color: whitesmoke !important;
}

input:-moz-placeholder {
    color: #666;
}

input::-moz-placeholder {
    color: #666;
}

input:-ms-input-placeholder {
    color: #666;
}


/* focus */

input:focus::-webkit-input-placeholder {
    color: #23272b !important;
}

input:focus:-moz-placeholder {
    color: #eee;
}


/* FF 4-18 */

input:focus::-moz-placeholder {
    color: #eee;
}


/* FF 19+ */

input:focus:-ms-input-placeholder {
    color: #eee;
}


/* IE 10+ */


/*COLOR HARMONY #1*/


/*#E1905A #945F3B #E0D35A #948B3B #1F1F1F #E0E0E0*/


/*COLOR HARMONY #2*/


/*#EB725A #9E4C3C #EBBA59 #9E7D3C #141414 #EBEBEB*/

@media (min-width: 992px) {
    .d-lg-block {
        display: inline-flex !important;
    }
}

.img_alt_text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hand {
    cursor: pointer;
}

.main-text {
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 400;
    word-wrap: break-word;
}

.capitalize {
    text-transform: capitalize;
}


/* COLOR SCHEMES ---------------------------------------------- */

.modern-white {
    color: #fbfbfb;
}

.flat-black {
    color: #333;
}


/* COLOR SCHEMES END ------------------------------------------- */


/* FONT SCHEMES ------------------------------------------- */

.OpenSansRegular {
    font-family: 'Open Sans';
}

.OpenSansSemiBold {
    font-family: 'Open Sans';
    font-weight: 400;
}

.OpenSansBold {
    font-family: 'Open Sans';
    font-weight: 700;
}


/* FONT SCHEMES END ------------------------------------------- */


/* MEDIA QUERIES ------------------------------------------------- */

@media only screen and (min-width: 760px) and (max-width: 3000px) {
    .asd123 {
        display: flex !important;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        background: transparent !important;
    }
    .navbar-nav {
        background: #212529;
    }
}

@media only screen and (min-width: 992px) {
    .modal_mainframe_box {
        margin: 30px 30px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .navbar-collapse {
        left: 100px;
    }
}


/* @media only screen and (max-width: 767px) {
    .w-100 {
        width: 100% !important;
        height: 100vh !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-around !important;
    }
    .carousel-item {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-around !important;
    }
} */


/* MEDIA QUERIES END ---------------------------------------------------